.game-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
}

.game-text h1{
    padding: 4px;
    display: flex;
    font-size: 50px;
    font-weight: 500;
    color: black;
}

.opponent-info{
    padding: 5px; 
}

.opponent-info h1{
    display: flex;
    padding: 5px;
    font-weight: 600;
    padding-top: 10px;
}

.scoreboard{
    display: flex;
    justify-content: space-evenly; 
}

.game-area{
    background-color: black;
    height: 300px;
    width: 300px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns:auto auto auto;  
}
   
.game-area > div{
    background-color: white;
    height: auto;
    width: 100%;
    text-align: center;  
}

.game-area > img{
    height: 96px;
    width: 96px;
}

.text-area{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.text-area h1{
    align-items: center;
    justify-items: center;   
}

.text-area img{
    height: 80px;
    display: none;  
}