.game-area{
    display: flex;
    position: fixed;
    background-color: whitesmoke;
}
.pole-base-area{
    background-color:grey;
    border-radius: 10px;
    position: fixed;
    border: 2px solid black;
}
.pole-area {
    background-color: burlywood;
    border: 1px solid black;
    position: fixed;
    border-radius: 10px 10px 0px 0px;
    z-index: -1;
}

.rings-div {
   z-index: 1;
}

.moving-ring {
   z-index: 2;
}

 .heading-area h1{
    display: flex;
    color: red;
    margin-left: 30%; 
 }
 
 .ring{
    position: fixed;
    border-radius: 20px;
    border:1px solid black;
    cursor: move;
 }

 .move-area{
    position: fixed;
    top: 100px;
    left: 200px;
 }
.game-area{
   color:p
}
